

.cls-1 {
  fill: #034b97;
}

.cls-2 {
  fill: #981d3d;
}

.cls-3 {
  fill: #e6e2e3;
}

.cls-4 {
  fill: #6e7475;
}

.cls-5 {
  fill: #fff;
}

.cls-6 {
  fill: #af1d33
}

body {
    background-color: skyblue;
    font-family: 'Anton', sans-serif;
    height: 300vh;
}

.sea {
    background: black;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    opacity: 0;
    transition: ease opacity .1s;
}

svg {
    display: block;
    width: 90%;
    height: 600px;
    margin-left: 5%;
    margin-top: 10%;
    /* display: none; */
    position: fixed;
}

#b-fish {
    transform: translate(-164px, -100px);
}

.title {
    color: white;
    text-transform: uppercase;
    margin-left: 5%;
    font-size: 30px;
    position: fixed;
    bottom: 10%;
}

.title span {
    color: #AF1D33;
}


.hide {
    transform-origin: 50% 50%;
    transform-box: fill-box;
    animation: fishaway  3s linear forwards;
}

.container {
  width: 100%;
}

.eye{
  margin: auto;
  height: 100px;
/*   background:#ccc; */
}
.pupill{
  position:relative;
}



@-webkit-keyframes fishaway{
	0% {transform:rotateY(60deg);}
	25% {transform:rotateY(-60deg) translateX(-30px);}
    50% {transform:rotateY(60deg) translateX(-60px);}
	75% {transform:rotateY(-60deg) translateX(-100px);}
    100% {opacity: 0; transform: translateX(-130px);}
}
