

.cls-1 {
  fill: #034b97;
}

.cls-2 {
  fill: #981d3d;
}

.cls-3 {
  fill: #e6e2e3;
}

.cls-4 {
  fill: #6e7475;
}

.cls-5 {
  fill: #fff;
}

.cls-6 {
  fill: #af1d33
}

body {
    background: #000;
    font-family: 'Anton', sans-serif;
}

svg {
    display: block;
    width: 90%;
    height: 600px;
    margin-left: 5%;
    margin-top: 10%;
    /* display: none; */
}

.cssart {
    position: absolute;
    width: 90%;
    left: 5%;
    height: 200px;
}

.title {
    color: white;
    text-transform: uppercase;
    margin-left: 5%;
    font-size: 30px;
    position: absolute;
    bottom: 10%;
}

.title span {
    color: #AF1D33;
}

a {
    transform-origin: center;
}

a.sfish-ani:focus {
  fill: pink;
  stroke: red;
  stroke-width: 1;
    animation: fishaway 3s ease forwards;
    transform-origin: center;
}




@-webkit-keyframes fishaway{
	0% {transform:rotateY(60deg);}
	25% {transform:rotateY(-60deg) translateX(-10px);}
    50% {transform:rotateY(60deg) translateX(-30px);}
	75% {transform:rotateY(-60deg) translateX(-50px);}
    100% {opacity: 0; transform:scale(.2);}
}
